.form-container{
  justify-content: center;
  display:block;

}

.form-values {
  width: 100%;

}

.form-holder{
  justify-content: space-around;
  display: block;
  width: 100%;

}

#pd-0{
  padding-right: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

label,
#alert-message {
  font-weight: 500;
  font-size: 2.5vw;
}

#submit{
background-color: rgb(142, 151, 155);
border: 0;
}

#contact{
  max-width: 100%;

}