body{
  background-color:  rgb(240 246 196);
  height: fit-content;
}

h2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h3{
  background-color: rgb(142, 151, 155);
  flex-wrap: wrap;
  justify-content: center;
}

#resume{
  justify-content: center;
}

.wrap{
  display: flex;
  flex-wrap: wrap;

}

.p{
  align-items: center;
  text-decoration: none;
  margin: 0;
}

.list-item {
  text-align: left;
  list-style-type: none;
  margin-left: 20px;
}

.background{
  font-size: medium;
  color: rgb(96, 103, 105);
}

#resume-link {
  color: rgb(255, 255, 255);
}

#center{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#resume {
  background: linear-gradient(90deg, rgb(197 241 247) 70%, rgb(255, 255, 255) 100%);
  max-width: 75%;
  padding: 20px;
}

@media (max-width: 375px) {
  .font{
    font-size: 0.9rem;
    
  }

  .list-item {
    text-align: left;
    list-style-type: none;
    margin-left: 5px;
  }
  
}